.App {
  text-align: center;
  padding: 2rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


/* Header card styles */

.headerCardsContainer {
  display: flex;
  margin-top: 2rem;
}

.headerCardsContainer .ant-card {
  background-color: #fcf2de;
  border-radius: 15px;
  width: 50%;
  height: 8rem;
  padding: .5rem;
  overflow: hidden;
}

.headerCardsContainer .ant-card .anticon {
  background-color: white;
  border-radius: 8px;
  margin-right: 12px;
}

.headerCardsContainer .ant-card:first-child {
  margin-right: 2rem;
  background-color: #dacbff;
}

.headerCardsSearchIcon {
  padding: 1rem;
}

.headerCardInput {
  padding: .75rem;
  border-radius: 8px;
}

.cardSpanMailProject {
  display: flex;
}

.cardSpanMailProject input {
  border-radius: 8px;
}

/* Sidebar styles */

.sidebar {
  height: 72vh;
  margin-right: 24px;
  background-color: #dacbff !important;
  padding: 1rem .5rem;
  border-radius: 12px;
  width: 18vw !important;
}

/*table  */

.mainSection {
  display: flex;
  margin-top: 2rem;
}

.ant-table-wrapper {
  width: 85vw;
}

thead[class*="ant-table-thead"] th {
  background-color: #fcf2de !important;
}

.monitorTableStyle .ant-table-container .ant-table-content table .ant-table-thead tr th:first-child {
  border-radius: 12px !important;
}